@import '../../App.scss';

.hero{
    height: calc(100vh - 6rem);
    background: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile{
        height: 100vh;
    }
    
    // background-image: url('https://images.unsplash.com/photo-1634176866089-b633f4aec882?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D');
    // background-position: center right;
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-image: linear-gradient(to right top, #0519378f, #17122879, #190a1acf, #12040d, #000000);
    .img-container{
        backdrop-filter: blur(1px);
        width: 50%;
        height: 100%;
        float: right;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .text-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 8rem;
            line-height: 8rem;
            @include mobile{
                font-size: 4rem;
                line-height: 4rem;
            }
        }
    }
    .lottie-player{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        height: 5rem;
        width: 5rem;
    }
}